<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Todo-list</h1>
    <ul>
      <% for(var i=0;i<task.length;i++){ %>
           <li><%= task[i].caption %></li>
     <% } %>
    </ul>
    <form method="POST" action="/addTodo">
      <input type="text" name="caption" />
      <input type="submit" value="Add" />
    </form>
  </body>
</html>
